<div id="<%= dom_id payment_method %>">
  <p>
    <strong>Payment description:</strong>
    <%= payment_method.payment_description %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment_method.payment_type %>
  </p>

</div>
